.userPopout-3XzG_A {width: 400px !important;}
.headerTop-2y3V6H {padding-top: 48px; padding-bottom: 24px;}
.headerText-2WJ44e.userSelectText-1o1dQ7 {margin-left: 160px !important;}
.customStatus-3NamXG {margin-top: 30px !important;}
.avatar-22FtUu.wrapper-3t9DeA {
  width: 128px !important;
  height: 128px !important;
}
.avatarHint-1E3LMl {display: none !important;}
.activity-fViXj7 {padding: 16px 16px 16px;}
.body-3iLsc4 {padding: 12px 12px 12px 12px;}
.size12-3R0845 {font-size: 0px;}
.avatarHint-1E3LMl,.textarea-2r0oV8,.protip-YaFfgO,.footer-1fjuF6 {display: none}

.setIdentityLink-OpBDR6 {
  display: none;
}

#app-mount .customStatusText-2wWmYP {
  display: block;
  text-align: center; 
}
#app-mount .customStatusEmoji-1itGdP {
  width: 128px;
  height: 128px;
  margin-left: 119px;
  margin-bottom: 5px;
}
